:is(pinch-frame) {
  touch-action: none;
  display: block;
  overflow: auto;
  cursor: grab;
  user-select: none;
}

:is(pinch-frame:active) {
  cursor: grabbing;
}

pinch-frame::part(content) {
  display: block;
  box-sizing: content-box;
  width: max-content;
  height: max-content;
  transform-origin: 0 0;
}
