:where(pinch-frame) {
  touch-action: none;
  display: block;
  overflow: auto;
}

:where(pinch-frame:not([disabled])) {
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
}

:where(pinch-frame:not([disabled]):active) {
  cursor: grabbing;
}

:where(pinch-frame)::part(container) {
  display: grid;
  grid-template-rows: 0 max-content;
  grid-template-columns: 0 max-content;
}

:where(pinch-frame)::part(content) {
  grid-area: 2 / 2 / 3 / 3;
  display: block;
  width: max-content;
  height: max-content;
  transform-origin: 0 0;
}
